# Web UI
streamlit

# PDF reading
pymupdf

# LangChain family
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface

# Embeddings model (local, free)
sentence-transformers

# Vector store
faiss-cpu

# Environment variable loader
python-dotenv